<div class="breadcrumb-section">
    
</div>

<div class="page-wrapper property-details">
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 col-lg-8">
                <div class="inner-content">
                    <span class="type">Vegas Strip</span>
                    <div class="owner">
                        <div class="avatar">
                            <a href="#"><img class="img-fluid" src="/img/source/profile/4.jpg" alt="Zamiz Para"></a>
                        </div>
                        <div class="profile">
                            <a class="name" href="#">Zamiz Para</a>
                            <span class="jobs">Hostel Manager</span>
                        </div>
                    </div>
                    <div class="star">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <span>(Excellent)</span>
                    </div>
                    <h1 class="header">Modern Apartment With Pool</h1>
                    <div class="feature">
                        <div class="feature-item">
                            <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
                            <p class="feature-description">502 Little Lonsdale, Melbourne</p>
                        </div>
                        <div class="feature-item">
                            <div class="icon"><i class="fas fa-bed"></i></div>
                            <p class="feature-description">3 Bedrooms</p>
                        </div>
                        <div class="feature-item">
                            <div class="icon"><i class="fas fa-bath"></i></div>
                            <p class="feature-description">2 Baths</p>
                        </div>
                        <div class="feature-item">
                            <div class="icon"><i class="fas fa-user"></i></div>
                            <p class="feature-description">4 Guest</p>
                        </div>
                        <div class="feature-item">
                            <div class="icon"><i class="fas fa-users"></i></div>
                            <p class="feature-description">4 Sleeps</p>
                        </div>
                    </div>
                    <h2>About This Property</h2>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>

                    <div class="row">
                        <div class="col-12 col-sm-6 gallery">
                            <img class="img-fluid" src="/img/source/home6.jpg" />
                        </div>
                        <div class="col-12 col-sm-6 gallery">
                            <img class="img-fluid" src="/img/source/home2.jpg" />
                        </div>
                        <div class="col-12 col-sm-6 gallery">
                            <img class="img-fluid" src="/img/source/home3.jpg" />
                        </div>
                        <div class="col-12 col-sm-6 gallery">
                            <img class="img-fluid" src="/img/source/home7.jpg" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <p class="inner-title">Pricing Plan</p>
                            <ul class="inner-feature">
                                <li>Nightly: <span>$525</span></li>
                                <li>Weekend (Sat_sun): <span>$535</span></li>
                                <li>Weekly (7d+): <span>$515</span></li>
                                <li>Monthly (30d+): <span>$505</span></li>
                                <li>Security Deposit: <span>$1,050</span></li>
                                <li>Additional Guests: <span>$525</span></li>
                                <li>Allow Additional Guests: <span>Yes</span></li>
                                <li>Cleaning Fee: <span>$1,050 Per Stay</span></li>
                                <li>City Fee: <span>$25 Per Stay</span></li>
                                <li>Minimun Number Of Days: <span>1</span></li>
                                <li>Maximun Number Of Days: <span>60</span></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-3 offset-sm-1">
                            <p class="inner-title">Features</p>
                            <ul class="inner-feature">
                                <li><i class="fas fa-angle-double-right"></i>Gym</li>
                                <li><i class="fas fa-angle-double-right"></i>Laundry</li>
                                <li><i class="fas fa-angle-double-right"></i>TV Cable</li>
                                <li><i class="fas fa-angle-double-right"></i>Wi-Fi</li>
                            </ul>

                            <p class="inner-title">Facilities</p>
                            <ul class="inner-feature icon">
                                <li><i class="fas fa-angle-double-right"></i>Farmacy</li>
                                <li><i class="fas fa-angle-double-right"></i>Free Parking</li>
                                <li><i class="fas fa-angle-double-right"></i>Reception</li>
                                <li><i class="fas fa-angle-double-right"></i>Security</li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-3 offset-sm-1">
                            <p class="inner-title">Accommodation</p>
                            <ul class="inner-feature icon">
                                <li><i class="fas fa-angle-double-right"></i><span>Master Room</span></li>
                                <li>1 King Size</li>
                                <li>2 Guests</li>
                                <li><i class="fas fa-angle-double-right"></i><span>Bedroom</span></li>
                                <li>1 Queen  Size</li>
                                <li>2 Guests</li>
                            </ul>
                        </div>
                    </div>

                    <div class="video-play">
                        <div class="image">
                            <img class="img-fluid" src="/img/source/tourist2.jpg" alt="Tourist" />
                        </div>
                        <a href="#" class="play"><i class="fas fa-play"></i></a>
                    </div>
                    <p class="description pb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <p class="inner-title">Terms & Rules</p>
                            <ul class="inner-feature">
                                <li><i class="fas fa-times"></i>Smoking Allowed: No</li>
                                <li><i class="fas fa-check"></i>Pets Allowed: Yes</li>
                                <li><i class="fas fa-check"></i>Party Allowed: Yes</li>
                                <li><i class="fas fa-check"></i>Children Allowed: Yes</li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-8">
                            <p class="inner-title">More Information</p>
                            <p class="description pb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                        </div>
                    </div>

                    <div class="map">
                        <div id="map"></div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-5">
                            <p class="inner-title">Availability</p>
                            <ul class="inner-feature color-styled">
                                <li><i class="far fa-calendar-alt"></i>The Minimun Stay Is <span>1 Night</span></li>
                                <li><i class="far fa-calendar-alt"></i>The Maximun Stay Is <span>60 Nights</span></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-7">
                            <div class="hoster">
                                <div class="hoster-profile">
                                    <div class="avatar">
                                        <a href="#"><img class="img-fluid" src="/img/source/profile/3.jpg" alt="Somalia Bosal"></a>
                                    </div>
                                    <div class="detail">
                                        <a class="name" href="#">Hoster By <span>Alexzender Alex</span></a>
                                        <p class="location">502 Little Lonsdale, Melbourne</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inner-group mt-5">
                        <h4 class="group-title">Comments(03)</h4>
                        <div class="comments-block">
                            <div class="comments-box">
                                <div class="avatar">
                                    <a href="#"><img class="img-fluid" src="/img/source/profile/2.jpg" alt="Somalia Bosal"></a>
                                </div>
                                <div class="inner">
                                    <div class="customer-content">
                                        <a class="customer-name" href="#">Sunlama Xabie,</a>
                                        <span class="date-time">13 Apr 2019</span>
                                    </div>
                                    <div class="customer-text">
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                    <a href="#" class="reply">Reply<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                            <div class="comments-box reply-comment">
                                <div class="avatar">
                                    <a href="#"><img class="img-fluid" src="/img/source/profile/4.jpg" alt="Somalia Bosal"></a>
                                </div>
                                <div class="inner">
                                    <div class="customer-content">
                                        <a class="customer-name" href="#">Sunlama Xabie,</a>
                                        <span class="date-time">13 Apr 2019</span>
                                    </div>
                                    <div class="customer-text">
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                    <a href="#" class="reply">Reply<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                            <div class="comments-box">
                                <div class="avatar">
                                    <a href="#"><img class="img-fluid" src="/img/source/profile/3.jpg" alt="Somalia Bosal"></a>
                                </div>
                                <div class="inner">
                                    <div class="customer-content">
                                        <a class="customer-name" href="#">Sunlama Xabie,</a>
                                        <span class="date-time">13 Apr 2019</span>
                                    </div>
                                    <div class="customer-text">
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                    <a href="#" class="reply">Reply<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-group">
                        <h4 class="group-title">Leave A Comment</h4>
                        <form method="POST">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Website">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-share"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group textarea">
                                        <textarea class="form-control" placeholder="Your Comments:" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input type="submit" class="btn-one" value="Send Comment">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <aside class="col-12 col-lg-4 sidebar">
                <div class="sidebar-box request-book-sidebar">
                    <h3 class="request-book-price">$270.00 <span>Night</span></h3>
                    <div class="request-book-inner">
                        <form method="POST">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Where to go?">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Arrive Date">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Depart Date">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Guest?">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-angle-down"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input type="submit" class="btn-one w-100" value="Instant A Book">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="sidebar-box">
                    <p class="sidebar-title">Popular Articles</p>
                    <div class="sidebar-news">
                        <div class="post">
                            <div class="image">
                                <a href="#"><img src="/img/source/tourist1.jpg" alt="Travel"></a>
                            </div>
                            <div class="content">
                                <a class="title" href="#">Quick Win For Improe Perfor Security Of Your Website.</a>
                                <span class="time">12 May 2019</span>
                            </div>
                        </div>
                        <div class="post">
                            <div class="image">
                                <a href="#"><img src="/img/source/tourist2.jpg" alt="Travel"></a>
                            </div>
                            <div class="content">
                                <a class="title" href="#">Quick Win For Improe Perfor Security Of Your Website.</a>
                                <span class="time">12 May 2019</span>
                            </div>
                        </div>
                        <div class="post">
                            <div class="image">
                                <a href="#"><img src="/img/source/tourist3.jpg" alt="Travel"></a>
                            </div>
                            <div class="content">
                                <a class="title" href="#">Quick Win For Improe Perfor Security Of Your Website.</a>
                                <span class="time">12 May 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-box booking">
                    <h2 class="title">Booking<br>Your Latest Apartment</h2>
                    <p class="description">Lorem ipsum dolor sitamet conse ctetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                    <a class="btn-one" href="request-book.html">Booking Now<i class="fas fa-angle-double-right pl-2"></i></a>
                </div>
            </aside>
        </div>
    </div>
</div>

