
@{
    ViewBag.Title = "Privacy";
}
@model BagsStore.Models.ItemContent


@section HeaderContent{

<title>Privacy policy- Bag to Store</title>
<meta name="description" content="Bag to Store privacy policy. Bag storage network.">
}

<div class="breadcrumb-section">

</div>

<div class="page-wrapper">

    <div class="container">

        <h1 style="color:#63A13C" class="title text-center text-uppercase">Privacy policy</h1>

        <div class="row">

            @Html.Raw(Model.Content)

        </div>

        <div class="row mt-5">

            <div class="col-md-12">
                <a style="float:right; color:#63A13C; font-weight:bold;" href="#" onclick="goBack()"><< Back</a>
            </div>

        </div>

    </div>

</div>
