<div class="breadcrumb-section">
    <div class="container">
        <h4 class="breadcrumb-title">About Us</h4>
        <ul class="breadcrumb-menu">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="about.html">About Us</a></li>
        </ul>
    </div>
</div>

<div class="about-us">
    <div class="page-wrapper">
        <div class="container">
            <div class="section-header text-center">
                <p class="section-title">
                    About Us
                </p>
                <h4 class="section-text">
                    Welcome To Our Smark. 25 Years Of<br>Experience In Directory & Listing Service.
                </h4>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 m-auto">
                    <div class="about-inner">
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.<br><br>
                            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor. in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <div class="phone">
                            +202 5550 178 99
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-first order-md-last">
                    <div class="about-image">
                        <img class="img-fluid" src="/img/source/about.jpg" alt="Smark Team" />
                    </div>
                </div>
            </div>
            <div class="row facts">
                <div class="col-12 col-sm-3">
                    <div class="fact-item">
                        <div class="icon">
                            <i class="fas fa-bullseye"></i>
                        </div>
                        <p class="value">2743</p>
                        <span class="description">Project Complete</span>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="fact-item">
                        <div class="icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <p class="value">3584</p>
                        <span class="description">Satisfied Clients</span>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="fact-item">
                        <div class="icon">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <p class="value">8925</p>
                        <span class="description">Win Awards</span>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="fact-item">
                        <div class="icon">
                            <i class="fas fa-star"></i>
                        </div>
                        <p class="value">25</p>
                        <span class="description">Years Experience</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="modern-apartment-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="content">
                    <div class="section-header">
                        <h4 class="section-text">
                            Modern Apartment
                        </h4>
                        <p class="section-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                        </p>
                    </div>
                    <a class="btn-one" href="contact.html">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="exclusive-team">
    <div class="container">
        <div class="section-header">
            <p class="section-title">Our Team</p>
            <h4 class="section-text">
                Exclusive Team
            </h4>
            <p class="section-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="profile">
                    <img class="img-fluid" src="/img/source/profile/8.jpg" alt="Angel Maleka" />
                    <div class="detail">
                        <p class="name">Angel Maleka</p>
                        <span class="job">Ceo & Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="profile">
                    <img class="img-fluid" src="/img/source/profile/9.jpg" alt="Ernesto Cortese" />
                    <div class="detail">
                        <p class="name">Ernesto Cortese</p>
                        <span class="job">Hotel Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="profile">
                    <img class="img-fluid" src="/img/source/profile/10.jpg" alt="Lynn Slavens" />
                    <div class="detail">
                        <p class="name">Lynn Slavens</p>
                        <span class="job">Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="profile">
                    <img class="img-fluid" src="/img/source/profile/11.jpg" alt="Tayima Jaka" />
                    <div class="detail">
                        <p class="name">Tayima Jaka</p>
                        <span class="job">Web Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="team-feature2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="section-header">
                    <h4 class="section-text">
                        Why Choose Us
                    </h4>
                    <p class="section-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="team-features-item">
                    <div class="inner">
                        <div class="icon"><i class="fas fa-check"></i></div>
                        <p class="title">We Are Professional</p>
                        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</span>
                    </div>
                    <div class="inner">
                        <div class="icon"><i class="fas fa-check"></i></div>
                        <p class="title">Best Service Guarantee</p>
                        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</span>
                    </div>
                    <div class="inner">
                        <div class="icon"><i class="fas fa-check"></i></div>
                        <p class="title">We Are Trusted and Secured</p>
                        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</span>
                    </div>
                    <div class="inner">
                        <div class="icon"><i class="fas fa-check"></i></div>
                        <p class="title">Online Support 24/7</p>
                        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 order-first order-lg-last">
                <div class="image">
                    <img class="img-fluid" src="/img/source/tourist7.jpg" alt="Tourist" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-section">
    <div class="container">
        <div class="section-header text-center">
            <p class="section-title">Blog & News</p>
            <h4 class="section-text">
                Articles And Tips
            </h4>
            <p class="section-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="news-item">
                    <div class="image">
                        <a href="blog-details.html"><img class="img-fluid" src="/img/source/tourist1.jpg" alt="Building Robust Layout Nit" /></a>
                    </div>
                    <div class="content">
                        <div class="author">
                            <i class="fas fa-user icon"></i>
                            <span>Somalia Bosal</span>
                        </div>
                        <div class="comment">
                            <i class="fas fa-comments icon"></i>
                            <span>Comments(04)</span>
                        </div>
                        <a class="title" href="blog-details.html">Building Robust Layout Nit</a>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <div class="post-owner">
                            <div class="avatar">
                                <a href="#"><img class="img-fluid" src="/img/source/profile/1.jpg" alt="Somalia Bosal"></a>
                            </div>
                            <div class="profile">
                                <a class="name" href="#">Somalia Bosal</a>
                                <span class="jobs">Hostel Manager</span>
                            </div>
                        </div>
                        <a class="read-more" href="blog-details.html"><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="news-item">
                    <div class="image">
                        <a href="blog-details.html"><img class="img-fluid" src="/img/source/tourist2.jpg" alt="Search Engine And Optimizing" /></a>
                    </div>
                    <div class="content">
                        <div class="author">
                            <i class="fas fa-user icon"></i>
                            <span>Tayima Jaka</span>
                        </div>
                        <div class="comment">
                            <i class="fas fa-comments icon"></i>
                            <span>Comments(05)</span>
                        </div>
                        <a class="title" href="blog-details.html">Search Engine And Optimizing</a>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <div class="post-owner">
                            <div class="avatar">
                                <a href="#"><img class="img-fluid" src="/img/source/profile/2.jpg" alt="Tayima Jaka"></a>
                            </div>
                            <div class="profile">
                                <a class="name" href="#">Tayima Jaka</a>
                                <span class="jobs">Developer</span>
                            </div>
                        </div>
                        <a class="read-more" href="blog-details.html"><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0">
                <div class="news-item">
                    <div class="image">
                        <a href="blog-details.html"><img class="img-fluid" src="/img/source/tourist3.jpg" alt="Advertising And Marketing" /></a>
                    </div>
                    <div class="content">
                        <div class="author">
                            <i class="fas fa-user icon"></i>
                            <span>Pokila Kodis</span>
                        </div>
                        <div class="comment">
                            <i class="fas fa-comments icon"></i>
                            <span>Comments(03)</span>
                        </div>
                        <a class="title" href="blog-details.html">Advertising And Marketing</a>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <div class="post-owner">
                            <div class="avatar">
                                <a href="#"><img class="img-fluid" src="/img/source/profile/3.jpg" alt="Pokila Kodis"></a>
                            </div>
                            <div class="profile">
                                <a class="name" href="#">Pokila Kodis</a>
                                <span class="jobs">Web Designer</span>
                            </div>
                        </div>
                        <a class="read-more" href="blog-details.html"><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sponsors">
    <div class="container">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img class="img-fluid" src="/img/source/sponsors/1.png" alt="Sponsors" />
            </div>
            <div class="item">
                <img class="img-fluid" src="/img/source/sponsors/2.png" alt="Sponsors" />
            </div>
            <div class="item">
                <img class="img-fluid" src="/img/source/sponsors/3.png" alt="Sponsors" />
            </div>
            <div class="item">
                <img class="img-fluid" src="/img/source/sponsors/4.png" alt="Sponsors" />
            </div>
            <div class="item">
                <img class="img-fluid" src="/img/source/sponsors/5.png" alt="Sponsors" />
            </div>
            <div class="item">
                <img class="img-fluid" src="/img/source/sponsors/6.png" alt="Sponsors" />
            </div>
            <div class="item">
                <img class="img-fluid" src="/img/source/sponsors/7.png" alt="Sponsors" />
            </div>
            <div class="item">
                <img class="img-fluid" src="/img/source/sponsors/8.png" alt="Sponsors" />
            </div>
            <div class="item">
                <img class="img-fluid" src="/img/source/sponsors/9.png" alt="Sponsors" />
            </div>
        </div>
    </div>
</section>