
@model BagsStore.Models.ItemContent
<div class="breadcrumb-section">

</div>

<div class="page-wrapper">

    <div class="container">

        <h1 style="color:#63A13C" class="title text-center text-uppercase">Terms and conditions</h1>

        <div class="row">

            @Html.Raw(Model.Content)

        </div>

    </div>

</div>
